<div class="a">
    <div>
        <img src="../../assets/korelo.png" class="logo">
    </div><br>
    <div class="cr"></div><br>
    <div class="h">
        <div class="head"><h2>Agile</h2></div>
        <p>.........................................................................................................</p>
        <div class="text">
            <h4>Combining capacity of large <br> global providers with velocity <br>
            of a tight team,we get more of the <br> right things done,faster </h4>
        </div>
    </div>
    <button style="background-color:orange;" class="btn btn-primary" (click)="btnclick()">click</button>
</div>
    