<div class="b">
    <div>
        <img src="../../assets/korelo.png" class="logo">
    </div><br>
    <div class="cr"></div><br>
    <div class="h">
        <div class="head"><h2>Simplify <br> IoT</h2> </div>
        <p>.........................................................................................................</p>
        <div class="text">
            <h4> KORE simplifies complexity across <br> the Iot systems,enabling our <br>
            customers Iot vision and delivering <br> meassurable value </h4>
    
        </div>
    </div>
    <button style="background-color:blue;" class="btn btn-primary" (click)="btnclick()">click</button>
</div>
