<div class="c">
    <div>
        <img src="../../assets/korelo.png" class="logo">
    </div><br>
    <div class="cr"></div><br>
    <div class="h">
        <div class="head"><h2>Innovative</h2> </div>    
        <p>.........................................................................................................</p>
        <div class="text">
            <h4>We explore consider ideas from <br> every source enabling us to deliver <br>
            insights leading to new,better <br> outcomes to Iot</h4>
        </div>
    </div>
    <button style="background-color:rgba(0, 0, 0, 0.719);" class="btn btn-primary" (click)="btnclick()">click</button>
</div>
